@charset "utf-8";

* {
	min-width: 0;
}

$default_purple: #8151a8;
$default_green: #3bc3a3;
$dark_green: #3aa792;

@mixin mixin_display_flex() {
	display: flex;
	display: -webkit-flex;
}

@mixin mixin_flex($value) {
	flex: $value;
	-ms-flex: $value;
	-moz-flex: $value;
	-webkit-flex: $value;
}

@mixin mixin_flex_direction($value) {
	flex-direction: $value;
	-moz-flex-direction: $value;
	-webkit-flex-direction: $value;
}

@mixin mixin_flex_grow($value) {
	flex-grow: $value;
	-moz-flex-grow: $value;
	-webkit-flex-grow: $value;
}

@mixin mixin_flex_shrink($value) {
	flex-shrink: $value;
	-moz-flex-shrink: $value;
	-webkit-flex-shrink: $value;
}

@mixin mixin_justify_content($value) {
	justify-content: $value;
	-moz-justify-content: $value;
	-webkit-justify-content: $value;
}

@mixin mixin_align_items($value) {
	align-items: $value;
	-webkit-align-items: $value;
}

@mixin mixin_align_self($value) {
	align-self: $value;
	-webkit-align-self: $value;
}

@mixin mixin_flex_wrap($value) {
	flex-wrap: $value;
	-moz-flex-wrap: $value;
	-webkit-flex-wrap: $value;
}

@mixin mixin_flex_basis($value) {
	flex-basis: $value;
	-moz-flex-basis: $value;
	-webkit-flex-basis: $value;
}

@mixin mixin_order($value) {
	order: $value;
	-moz-order: $value;
	-webkit-order: $value;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #585A59;
}

a {
	text-decoration: none;
	color: $default_green;
}

a:hover {
	color: #3cc1a7;
}

a.white {
	color: white;
}

#logo {
	@media only screen and (max-width: 480px) {
		width: 150px;
		height: 23px;
		margin-top: 30px;
	}

	background-image: image-url("/images/bitrise_logo.svg");
	background-repeat: no-repeat;
	width: 200px;
	height: 45px;
	margin-top: 17px;
	position: fixed;
	z-index: 1000;
}

.comments {
	@media only screen and (max-width: 768px) {
		padding: 0 20px;
	}

	padding: 0 40px 0 20px;
}


.newer, .older {
	font-size: 18px;
	font-style: italic;
	margin: 50px 0;
	padding: 25px;
	margin-top: 0;

	a {
		color: black;

		&:hover {
			color: #7e50ad;
		}
	}
}

.newer {
	@media only screen and (max-width: 1280px) {
		margin-left: 15px;
	}

	float: left;
	background-image: image-url('/images/arrow-left.png');
	background-size: 27px 14px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 35px;
}

.older {
	@media only screen and (max-width: 1280px) {
		margin-right: 15px;
	}

	float: right;
	background-image: image-url('/images/arrow-right.png');
	background-size: 27px 14px;
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 35px;
}

.navigation {
	padding: 0 20px;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	background-color: $default_purple;

	/*h1 {
		margin: 0 0 0 10px;
		margin-top: 120px;
		color: #3cc1a7;
		font-weight: 300;
		font-size: 24px;
		line-height: 50px;
	}
	*/

	.right {
		float: right;
	}

	.btn {
		@media only screen and (max-width: 480px) {
			font-size: 12px;
			padding: 10px 20px;
			margin-top: 25px;

			span {
				display: none;
			}
		}

		line-height: 13px;
		margin: 21px 0 0 10px;
		padding: 12px 20px;
		font-weight: 500;
		font-size: 14px;
		background-color: none;
		border: 1px solid white;
		border-radius: 5px;
		margin-right: 40px;
		letter-spacing: 1px;
		color: #FFFFFF;
		background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		-o-background-clip: padding-box;
		-ms-background-clip: padding-box;
		cursor: pointer;

		&:hover {
			background-color: white;
			a {
					color: #8151a8;
			}
		}
	}
}

.share-buttons {
	overflow: hidden;
	iframe {
		margin-right: 10px;
	}
}

.main {
	height: 330px;
	background-image: image-url("sky.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&.subpage {
		@media only screen and (max-width: 1024px) {
			margin-right: 250px;
		}

		@media only screen and (max-width: 768px) {
			margin-right: 0;
		}

		margin-right: 400px;
		background-image: image-url("light.jpg");
	}

	.overlay {
		width: 100%;
		height: 330px;
		background-color: rgba(129, 81, 168, 0.6);
		overflow: hidden;

		h1, h4 {
			color: white;
			text-align: center;
		}

		h1 {
			font-size: 36px;
			font-weight: 500;
			margin: 90px 0 15px;
		}

		h4 {
			font-size: 24px;
			font-weight: 300;
			margin: 0;

			&.tagline {
				max-width: 800px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.content {
	padding-top: 80px;

	.articles {
		@media only screen and (max-width: 1024px) {
			padding: 20px 40px;
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
		}

		@include mixin_flex_grow(1);
		padding: 40px 80px;

		.article-header {

			.date {
				font-size: 12px;
				margin-bottom: 0;
			}

			h1 {
				color: #363636;

				a {
					color:#363636;
				}

				a:hover {
					color: $default_purple;
				}

				margin: 0;
				font-weight: 700;
				font-size: 36px;
				line-height: 40px;
				border-bottom: 1px solid #d7d7d7;
				padding: 10px 0 20px 0;
			}

			.article-info {
				margin-top: 10px;
				@include mixin_display_flex();
				@include mixin_justify_content(flex-end);

				.profile {
					margin-right: auto;

					img {
						-webkit-border-radius: 30px;
						-moz-border-radius: 30px;
						border-radius: 30px;
						width: 50px;
						height: 50px;
						border: 2px solid #3cc1a7;
					}
				}

			 p {
					margin: 0;
					padding: 0;
					font-size: 12px;
					line-height: 18px;
					color: #2a2a2a;
				}

				.tags{
					background-color: #b6e9e1;
					line-height: 21px;
					padding: 2px;
					padding-left: 6px;
					padding-right: 6px;
					border-radius: 3px;

					a{
						color: #1b8d7a;
						font-weight: 500;
					}
				}

				.tags:hover {
					background-color: #a2e1d7;
				}


			}
		}

		h1 {
			line-height: 120%;
		}

		h2 {
			font-size: 18px;
			font-weight: bold;
			color:#2a2a2a;
		}

		h3 {
			font-size: 14px;
			font-weight: medium;
			color:#2a2a2a;
		}

		 #postline {
			height: 4px;
			width: 100%;
			background-color: #2a2a2a;
			margin-top: 20px;
			margin-bottom: 20px;
			}

			#postline_after {
			height: 4px;
			width: 100%;
			background-color: #e1e1e1;
			margin-top: 20px;
			margin-bottom: 20px;
			}

		.article {
			margin: 15px 0 50px 0;
			overflow-x: hidden;
			line-height: 120%;

			a {
				text-decoration: underline;

				&:hover {
					color: $default_purple;
				}
			}

			h1 {
				font-size: 26px;
				font-weight: 700;
				color: #363636;
				margin: 30px 0;
			}

			h1:first-child {
				margin-top: 0px;
				line-height: 100%;
			}

			h2 {
				font-size: 21px;
				font-weight: 700;
				color: #363636;
				margin-top: 40px;
			}

			h3 {
				font-size: 18px;
				font-weight: 600;
				margin-top: 30px;
			}

			h4 {
				font-size: 16px;
				font-weight: 700;
			}

			.CTA {
				background-color: #32eab5;
				background-image: image-url('images/cta_bg.svg');
				background-size: cover;
				min-height: 90px;
				padding: 20px;
				text-align: center;
				border-radius: 5px;

				h2 {
					margin-top: 10px;
					line-height: 25px;
				}

				.btn-purple {
					max-width: 200px;
					margin-left: auto;
					margin-right: auto;
					margin-top: 10px;
					margin-bottom: 10px;
					padding: 13px 15px;
					background-color: #8151a8;
					border-radius: 3px;
					cursor: pointer;

					a {
						color: white;
						font-size: 14px;
						font-weight: 600;
						text-decoration: none;

						&:hover {
							color: white;
							text-decoration: none;
						}
					}

					&:hover {
						background-color: #6c4090;
					}
				}

			}

			img {
				max-width: 100%;
				border-radius: 5px;
				display: block;
				margin: 10px auto;

				&.cover {
					text-align: center;
					@media only screen and (max-width: 768px) {
						margin-left: -20;
					}
					width: 120%;
					max-width: 810px;
					overflow: hidden;
					margin-left: -40px;
					margin-top: -47px;
				}
			}

			p {
				font-size: 16px;
				color: #555555;
				line-height: 150%;
			}

			code {
				background-color: #ebebeb;
				border-radius: 3px;
				border: 1px solid #d7d7d7;
				color: $default_purple;
				padding: 0 3px;
				font-size: 15px;
				font-family: 'Source Code Pro';
			}

			pre > code {
				font-family: 'Source Code Pro';
				font-size: 14px;
				padding: 15px;
				line-height: 120%;
				background-color: #ebebeb;
				color: #662d91;
				display: block;
			}

			ul {
				margin: 0;
				padding: 0 0 0 30px;
				line-height: 25px;
				font-size: 16px;
				color: #555555;
			}

			li {
				margin: 15px 0;
				line-height: 140%;
			}

			ol {
				color: #555555;
				font-size: 16px;
				line-height: 18px;

				li {
					margin: 10px 0;
				}
			}

		 blockquote {
		 	line-height: initial;
		 	margin: 0;
			border-left: 3px solid $default_green;

			&.contact-us {
				border-left: 3px solid $default_purple;

				p {
					background-color: #f0e6f8;
				}
			}

				p {
					background-color: #ddf8f4;
					color: black;
					font-size: 18px;
					font-weight: 300;
					line-height: 1.7;
					font-style: italic;
					padding: 5px 0;
					padding-left: 15px;
				}
			}
		}
	}

	.articles-addon {
		@media only screen and (max-width: 1024px) {
			width: 250px;
		}

		@media only screen and (max-width: 768px) {
			display: none;
		}

		width: 400px;
		@include mixin_flex_shrink(0);
		background-color: #f0e6f8;
		border-left: 1px solid #d0b5e7;

		&.subpage {
			margin-top: -330px;
		}


		.articles-addon-inner {

			section {
				border-bottom: 1px solid #d0b5e7;
				padding: 25px;

				&.posts {
					li {
						border-top: 1px solid #d0b5e7;
						padding-top: 15px;
					}
				}
			}

			h3 {
				margin: 0 0 25px 0;
				line-height: 25px;
				font-size: 21px;
				font-weight: 600;
				color: $default_purple;


			}

			h3>a{
				text-transform: none;
				color: #2a2a2a;
				letter-spacing: 0px;
				padding-left: 10px;

			}

			li {
				list-style-type: none;
				margin-top: 15px;
				padding-right: 25px;
			}

			li>h3>a {
				float: left;
				display: block;

			}

			li>img {
				display: block;
				float: left;
			}

			.top {
				clear: both;
				overflow: hidden;
				margin: 0;
				margin-bottom: 10px;
				list-style-type: none;
				vertical-align: middle;

				.icon {
					background-size: 15px auto;
					background-repeat: no-repeat;
					background-position: left center;
					padding-left: 25px;

					&.archive {
						background-image: image-url("archives_icon.svg");
					}

					&.rss {
						background-image: image-url("rss_icon.svg");
					}
				}

				a {
					padding: 0;
					border-bottom: none;
					color: $default_purple;
					font-size: 14px;

					&:hover {
						color: $default_green;
					}
				}
			}

			ul {
				margin: 0;
				padding: 0;
				line-height: 18px;
				font-weight: 400;
				font-size: 14px;
			}

			li>a {
				color: #2a2a2a;
			}

			li>a:hover {
				color: #3cc1a7;
			}

			.tags{

				li {
					a{
						background-color: #b6e9e1;
						line-height: 21px;
						padding: 2px;
						padding-left: 6px;
						padding-right: 6px;
						border-radius: 3px;
						color: #1b8d7a;
						font-weight: 500;

						&:hover {
							background-color: #a2e1d7;
						}
					}
				}
			}
		}
	}
}

.recent-articles-mobile {
	@media only screen and (max-width: 768px) {
		display: block;
	}

	display: none;
	padding: 0;
	margin: 20px 0 40px 0;
	background-color: #ddf8f4;
	border: 1px solid $default_green;
	border-radius: 5px;


	h3 {
		margin: 0;
		padding: 15px 0;
		font-size: 18px !important;
		font-weight: 600;
		text-align: center;
		border-bottom: 1px solid $default_green;
		color: $default_green !important;
	}

	li {
		font-size: 14px;
		font-weight: 500;
		margin: 10px 0;

		a {
			color: black;

			&:hover {
				color: #3cc1a7;
			}
		}
	}
}

.footer {
	background-color: #e2e2e1;
	padding: 20px 40px;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 1px;

	.left-menu {
		@media only screen and (max-width: 768px) {
			display: block;
			float: none;
			text-align: center;
		}

		float: left;

		a {
			@media only screen and (max-width: 768px) {
				display: block;
				margin: 12px 0;
			}
		}

		p {
			@media only screen and (max-width: 768px) {
				display: block;
			}

			display: inline-block;

			&.slash {
				@media only screen and (max-width: 768px) {
					display: none;
				}
				margin: 0 15px;
			}
		}
	}

	.right-menu {
		@media only screen and (max-width: 768px) {
			display: block;
			float: none;
			text-align: center;
		}

		float: right;
		vertical-align: middle;
		padding-top: 7px;

		.github, .twitter {
			@media only screen and (max-width: 768px) {
				display: block;
			}
		}

		.github {
			width: 31px;
			height: 30px;
			background-image: image-url('/images/github.png');
			background-size: 31px 30px;
			display: inline-block;
			margin-right: 10px;
		}

		.github:hover {
			background-image: image-url('/images/github_hover.png');
		}

		.twitter {
			width: 31px;
			height: 30px;
			background-image: image-url('/images/twitter.png');
			background-size: 31px 30px;
			display: inline-block;
		}

		.twitter:hover {
			background-image: image-url('/images/twitter_hover.png');
		}
	}
}

.wrapper {
	@include mixin_display_flex();
}

.clear {
	clear: both;
}
